<template>
    <div class="my-8"></div>
    <Timetable start="2021-06-14"></Timetable>
    <WeatherWidget test="asd"></WeatherWidget>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'App',
});
</script>

<style scoped>
</style>
