<template>
  <div class="flex justify-center align-center min-h-screen">
    <div class="w-full max-w-sm p-6 bg-white rounded-md shadow-md dark:bg-gray-800 h-5/6 ">
      <h1 class="text-3xl font-semibold text-center text-gray-700 dark:text-white self-center">Login</h1>
      <form action.prevent="" class="mt-6">
        <div>
          <div class="flex items-center justify-between">
            <label for="username" class="koro-label">Username</label>
          </div>
          <input type="text" class="koro-input" id="username">
        </div>

        <div class="mt-4">
          <div class="flex items-center justify-between">
            <label for="password" class="koro-label">Password</label>
            <a href="#" class="koro-link">Forget Password?</a>
          </div>
          <input type="password" id="password" class="koro-input">
        </div>

        <div class="mt-6">
          <button class="koro-button full">Login</button>
        </div>
        <p class="mt-8 text-xs font-light text-center text-gray-400"> Don't have an account? <a href="/signup"
                                                                                                class="font-medium text-gray-800 dark:text-gray-200 hover:underline">Create One</a></p>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Login',
});
</script>
