<template>
  <div class="settings">
    <h1 class="title mb-5">Settings</h1>
    <div class="max-w-xl mx-20">
      <h2 class="subtitle border-b mb-3">Display Settings</h2>
      <div class="setting">
        <h3 class="settings-title">Theme</h3>
        <p class="settings-data">{{ email }}</p>
        <div class="button-wrapper">
          <label>
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <h2 class="subtitle border-b mb-3">Account Settings</h2>
      <div class="setting">
        <h3 class="settings-title">Email address</h3>
        <p class="settings-data">{{ email }}</p>
        <div class="button-wrapper">
          <button class="settings-button">Change</button>
        </div>
      </div>
      <div class="setting">
        <h3 class="settings-title">Change password</h3>
        <p class="settings-data">Make sure to use a secure password</p>
        <div class="button-wrapper">
          <button class="settings-button">Change</button>
        </div>
      </div>
      <div class="setting">
        <h3 class="settings-title">Two Factor Authentication</h3>
        <p class="settings-data">Enable two factor authentication to secure your account.</p>
        <div class="button-wrapper">
          <button class="settings-button">Change</button>
        </div>
      </div>
      <h2 class="subtitle border-b mb-3 mt-10">Connections</h2>
      <div class="setting">
        <h3 class="settings-title">Connect to xChange</h3>
        <p class="settings-data">This will allow us to display your timetable</p>
        <div class="button-wrapper">
          <button class="settings-button">Connect</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Settings',
  data() {
    return {
      email: 'example@example.com',
    };
  },
});
</script>

<style>
</style>
