<template>
  <div>
    <div class="flex justify-center align-center">
      <div class="w-full max-w-sm p-6 bg-white rounded-md shadow-md dark:bg-gray-800">
        <h1 class="text-3xl font-semibold text-center text-gray-700 dark:text-white self-center">Create Account</h1>
        <form action.prevent="" class="mt-6">
          <div>
            <div class="flex items-center justify-between">
              <label for="email" class="koro-label">Email<span class="text-red-500">*</span></label>
            </div>
            <input type="text" class="koro-input" id="email">
          </div>

          <div class="mt-4">
            <div class="flex items-center justify-between">
              <label for="username" class="koro-label">Username<span class="text-red-500">*</span></label>
            </div>
            <input type="text" class="koro-input" id="username">
            <p class="tip mt-3">May include:</p>
            <p class="tip">· Capital and Lowercase letters</p>
          </div>

          <div class="mt-4">
            <div class="flex items-center justify-between">
              <label for="password" class="koro-label">Password<span class="text-red-500">*</span></label>
            </div>
            <input type="password" id="password" class="koro-input">
            <p class="tip mt-3">Must include:</p>
            <p class="tip">· Capital and Lowercase letters</p>
            <p class="tip">· at least one number</p>
            <p class="tip">· at least one symbol</p>
          </div>

          <div class="mt-6">
            <button class="koro-button full">Sign up</button>
          </div>
          <p class="mt-8 text-xs font-light text-center text-gray-400"> Already have an account? <a href="/login"
                                                                                                  class="font-medium text-gray-800 dark:text-gray-200 hover:underline">Login</a></p>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'SignUp',
});
</script>
