<template>
  <div id="timetable">
    <div v-for="(day, index) in days" :key="index" class="timetable-day">
      <div class="header text-10 underline font-semibold" :id="'tt-' + day.weekday">
        {{ day.weekday }}
      </div>
      <div class="lessons">
        <div class="lesson" v-for="(lesson, ind) in day.lessons" :key="ind">
          <div v-if="lesson" class="text thin">
            {{ lesson.subject }}
          </div>
          <div v-else-if="ind === 4" class="text-20 thin">
            Break.
          </div>
          <div v-else class="text-20 thin">
            No lesson.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent, provide} from 'vue';
import testDate from '../test.json';

interface day {
  weekday: string,
  lessons: lesson[],
  day: string
}

interface lesson {
  subject: string,
  room: string,
  teacher: string
}

export default defineComponent({
  name: 'Timetable' as string,
  props: {
    start: {
      type: String,
      required: true
    }
  },
  setup(props, ctx) {
    let transposedDays = [] as day[];
    const days = [] as day[];
    const start = new Date(props.start);
    for (let dayNum = 0; dayNum < 5; dayNum++) {
      // const day = start.setDate(start.getDate() + 1);
      const dayData = testDate[dayNum];
      const lessonDay = [] as lesson[];
      for (const lesson in dayData) {
        if (Object.prototype.hasOwnProperty.call(dayData, lesson)) {
          const lessonData = dayData[lesson];
          let parsedLesson = {} as lesson;
          if (lessonData === 1) {
            lessonDay.push(null);
            continue;
          }
          parsedLesson.teacher = lessonData[0];
          parsedLesson.subject = lessonData[1];
          parsedLesson.room = lessonData[2];
          lessonDay.push(parsedLesson);
        }
      }
      const daysLocale = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
      const day = {} as day;
      const date = start;
      date.setDate(date.getDate() + dayNum);
      day.lessons = lessonDay;
      day.day = date;
      day.weekday = daysLocale[dayNum + 1];
      console.log(dayData);
      days.push(day);
    }
    transposedDays = transpose(days);

    function transpose(matrix: any[]) {
      return matrix[0].lessons.map((col: any, i: string | number) => matrix.map(row => row[i]));
    }

    return {
      days,
      transposedDays
    }
  },
});
</script>

<style scoped>
#timetable {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px 5px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  max-width: 1000px;
}

.lessons {
  display: grid;
  grid-template-rows: repeat(8, fit-content());
  gap: 5px 5px;
}
</style>
