<template>
  <div id="weatherwidget">
    <i-carbon-accessibility/>
    <p class="text">Hello</p>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import axios from 'axios'

export default defineComponent({
  name: 'WeatherWidget',
  props: {
    test: String
  },
  async setup() {
    const weatherUrl = 'https://api.openweathermap.org/data/2.5/onecall';
    const lat = import.meta.env.VITE_WEATHER_LATITUDE;
    const lon = import.meta.env.VITE_WEATHER_LONGITUDE;
    const appid = import.meta.env.VITE_WEATHER_TOKEN;
    const weatherData = await axios.get(`${weatherUrl}?lat=${lat}&lon=${lon}&appid=${appid}&units=metric`).then(async (res) => {
      console.log(res.data)
      return await res.data;
    });
    return {weatherData};
  }
});
</script>
