.title {
    @apply text;
    @apply text-center text-4xl mt-2.5;
}

.subtitle {
    @apply text-10 text-2xl;
}

.koro-button {
    @apply px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-600 rounded-md dark:bg-gray-800 hover:bg-blue-500 dark:hover:bg-gray-700 focus:outline-none focus:bg-blue-500 dark:focus:bg-gray-700;
}

.full {
    @apply w-full;
}

.koro-link {
    @apply text-xs text-gray-600 dark:text-gray-400 hover:underline;
}

.koro-label {
    @apply block text-sm text-gray-800 dark:text-gray-200;
}

.koro-input {
    @apply block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring;
}

.tip {
    @apply text-xs text-gray-500;
}

.setting {
    @apply grid grid-cols-setting grid-rows-2
}

.settings-title {
    @apply text-10;
    @apply font-semibold col-start-1 col-span-1;
}

.settings-data {
    @apply text-30;
    @apply font-normal text-sm col-start-1 col-span-1;
}

.button-wrapper {
    @apply row-start-1 row-span-2 col-start-2 col-span-1;
}

.settings-button {
    @apply border-1 px-4 py-2 font-medium tracking-wide capitalize transition-colors duration-200 transform border-blue-600 rounded-md hover:bg-blue-200 focus:outline-none focus:bg-blue-200;
    @apply dark:border-gray-200 dark:hover:border-gray-700 dark:focus:bg-gray-700 dark:text-gray-300 dark:hover:bg-blue-50
}


.thin {
    @apply font-normal;
}

.text-hover {
    @apply hover:text-gray-900 dark:hover:text-gray-100;
}
